body {
 background-image: url(Kuvat\(muokatut\)/metsä1.jpg);
 background: cover;
 padding: 60px;
 align-items: center;
 display: block;
}

img {
  height: 160px;
  width: 160px;
}
 .muistipeli
 {
  
 }


.grid {
margin: auto;
display: grid;
grid-template-columns: repeat(6, 180px); 
grid-gap: 10px;
background-color: rgba(47, 49, 54, 0.685);
width: 1200px;
height: 1200px;
padding: 30px;
}

/*makes cards two-sided*/
.front, .back {
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.8s;
  transform-style: preserve-3d; /*should do the flipping...*/
}

.flipCard {
  transform: rotateY(180deg);
}

/*Menu begins -- Looks good whether it works is a different matter... */
.menubtn {
  font-size: 16px;
  padding: 10px 30px;
  background-color: #c5b61b;
  color: whitesmoke
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

/*makes hover menu content invisible as a standard*/
.menu-content
{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1; /*controls stacking order of overlapping*/
}
.menu-content a {
  color: #000;
  padding: 12px 16px;
  display: block;
}

.menu-content a:hover {
    color: #fff;
    display: block;
}
/*makes hover menu visible*/
.dropdown:hover .menu-content {
  display: block;
}
/*makes "Valitse vaikeustaso"-section background transparent*/
.dropdown:hover .menubtn {
  background-color: transparent;
}